<a href="https://colab.research.google.com/github/raymondyeo88/foodpanda_assessment/blob/main/Foodpanda_Data_Engineer_Take_Home_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyforest

In [ ]:
pip install haversine

In [1]:
from google.colab import auth
import google.cloud.bigquery as bq
import pyforest
import math
from haversine import haversine, Unit

# <center><h1> Authentication and SQL magic loading section </h1></center>

In [2]:
auth.authenticate_user()
print('Authenticated')

bqclient = bq.Client(project="glowing-indexer-329808")

Authenticated

In [3]:
# %load_ext google.cloud.bigquery
%reload_ext google.cloud.bigquery

<center><h1> Pulling whole data from BigQuery </h1></center>

In [4]:
%%bigquery --project glowing-indexer-329808 world_port_index_dframe

SELECT *
FROM `bigquery-public-data.geo_international_ports.world_port_index`;

In [5]:
world_port_index_dframe.head()

  index_number  ...                                  port_geom
0        50922  ...  POINT(105.983333333333 -5.91666666666667)
1        47855  ...               POINT(43.0833333333333 11.6)
2         8822  ...                         POINT(-90.7 28.45)
3         2200  ...              POINT(-72.3833333333333 46.4)
4        62635  ...   POINT(179.366666666667 63.0666666666667)

[5 rows x 73 columns]

In [6]:
world_port_index_dframe.shape

(3669, 73)

# <center><h1> Question 1 </h1></center>

<center> Q1/ What are the 5 nearest ports to Singapore's JURONG ISLAND port? (country = 'SG', port_name = 'JURONG ISLAND')</center>

In [20]:
question1_dframe = world_port_index_dframe.copy()
distance_in_meters = []

question1_dframe.shape

(3669, 73)

In [22]:
dest_jurong_island_location = question1_dframe.loc[question1_dframe.port_name == "JURONG ISLAND", ["port_latitude","port_longitude"]]

jurong_island_location = float(dest_jurong_island_location.port_latitude.values), float(dest_jurong_island_location.port_longitude.values)

In [23]:
for index, rows in question1_dframe.iterrows():
  origin = float(rows["port_latitude"]), float(rows["port_longitude"])
  total_distance = haversine(origin,jurong_island_location, unit=Unit.METERS)
  distance_in_meters.append(total_distance)

question1_dframe["distance_in_meters"] = distance_in_meters

In [24]:
question1_dframe = question1_dframe.sort_values("distance_in_meters", ascending= True)

In [25]:
question1_dframe[["port_name","distance_in_meters"]].head(6)

                      port_name  distance_in_meters
1115              JURONG ISLAND            0.000000
1116                PULAU BUKOM         6681.537986
1114              PULAU SEBAROK        11865.505048
1113  KEPPEL - (EAST SINGAPORE)        12969.542414
2698            TANJUNG PELEPAS        21686.669159
3581                PULAU SAMBU        22618.330922

# <center><h1> Question 2 </h1></center>

<center> Q2/ Which country has the largest number of ports with a cargo_wharf? Your answer should include
the columns country and port_count only. </center>

In [17]:
%%bigquery --project glowing-indexer-329808 

SELECT country, Count(*) AS port_count
FROM `bigquery-public-data.geo_international_ports.world_port_index`
WHERE cargo_wharf = TRUE 
GROUP BY country
ORDER BY port_count DESC 
LIMIT 1;

  country  port_count
0      US         583

# <center><h1> Question 3 </h1></center>

<center> Q3/ You receive a distress call from the middle of the North Atlantic Ocean. The person on the line gave you
a coordinates of lat: 32.610982, long: -38.706256 and asked for the nearest port with
provisions, water, fuel_oil and diesel. Your answer should include the columns
country, port_name, port_latitude and port_longitude only. </center>

In [19]:
world_port_index_dframe.shape

(3669, 73)

In [18]:
question3_dframe = world_port_index_dframe.copy()


question3_dframe.shape

(3669, 73)

In [27]:
search_coordinates_lat = "32.610982"
search_coordinates_long = "-38.706256"

search_results = search_coordinates_lat, search_coordinates_long

In [ ]:
for index, row in question3_dframe.iterrows():
  if (row["provision"] == True) and

# <center><h1> Archive Codes </h1></center>

In [46]:
source_location1 = question1_dframe.loc[question1_dframe.port_name == "MERAK MAS TERMINAL", ["port_latitude","port_longitude"]]

origin1 = source_location1.port_latitude.values, source_location1.port_longitude.values

display(origin)

TypeError: ignored

In [ ]:
distance_in_meters = haversine(origin,jurong_island_location,unit=Unit.METERS)

distance_in_meters

In [ ]:
source_location2 = question1_dframe.loc[question1_dframe.port_name == "SOUTHWEST PASS", ["port_latitude","port_longitude"]]

origin2 = source_location2.port_latitude.values, source_location2.port_longitude.values

display(origin2)

In [ ]:
distance_in_meters2 = haversine(origin2,jurong_island_location, unit=Unit.METERS)

distance_in_meters2

In [ ]:
# display(origin)
# distance_in_meters = distance(origin,jurong_island_location)
# display(distance_in_meters)