<a href="https://colab.research.google.com/github/raymondyeo88/foodpanda_assessment/blob/main/Foodpanda_Data_Engineer_Take_Home.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyforest

In [ ]:
pip install haversine

In [5]:
from google.colab import auth
import google.cloud.bigquery as bq
import pyforest
import math
from haversine import haversine, Unit

# BigQuery Authentication and Connection section

In [6]:
auth.authenticate_user()
print('Authenticated')

bqclient = bq.Client(project="glowing-indexer-329808")

Authenticated

In [7]:
# %load_ext google.cloud.bigquery
%reload_ext google.cloud.bigquery

# Getting data from BigQuery

In [8]:
%%bigquery --project glowing-indexer-329808 world_port_index_dframe

SELECT *
FROM `bigquery-public-data.geo_international_ports.world_port_index`;

In [9]:
world_port_index_dframe.head()

  index_number  ...                                  port_geom
0        50922  ...  POINT(105.983333333333 -5.91666666666667)
1        47855  ...               POINT(43.0833333333333 11.6)
2         8822  ...                         POINT(-90.7 28.45)
3         2200  ...              POINT(-72.3833333333333 46.4)
4        62635  ...   POINT(179.366666666667 63.0666666666667)

[5 rows x 73 columns]

In [10]:
world_port_index_dframe.shape

(3669, 73)

# Question 1

Q1/ What are the 5 nearest ports to Singapore's JURONG ISLAND port? (country = 'SG', port_name = 'JURONG ISLAND')

In [11]:
question1_dframe = world_port_index_dframe.copy()
distance_in_meters = []

question1_dframe.shape

(3669, 73)

In [12]:
dest_jurong_island_location = question1_dframe.loc[question1_dframe.port_name == "JURONG ISLAND", ["port_latitude","port_longitude"]]

jurong_island_location = float(dest_jurong_island_location.port_latitude.values), float(dest_jurong_island_location.port_longitude.values)

In [13]:
for index, rows in question1_dframe.iterrows():
  origin = float(rows["port_latitude"]), float(rows["port_longitude"])
  total_distance = haversine(origin,jurong_island_location, unit=Unit.METERS)
  distance_in_meters.append(total_distance)

question1_dframe["distance_in_meters"] = distance_in_meters

In [14]:
question1_dframe = question1_dframe.sort_values("distance_in_meters", ascending= True)

In [15]:
question1_dframe[["port_name","distance_in_meters"]].head(6)

                      port_name  distance_in_meters
1115              JURONG ISLAND            0.000000
1116                PULAU BUKOM         6681.537986
1114              PULAU SEBAROK        11865.505048
1113  KEPPEL - (EAST SINGAPORE)        12969.542414
2698            TANJUNG PELEPAS        21686.669159
3581                PULAU SAMBU        22618.330922

# Question 2

Q2/ Which country has the largest number of ports with a cargo_wharf? Your answer should include
the columns country and port_count only.

In [16]:
%%bigquery --project glowing-indexer-329808 

SELECT country, Count(*) AS port_count
FROM `bigquery-public-data.geo_international_ports.world_port_index`
WHERE cargo_wharf = TRUE 
GROUP BY country
ORDER BY port_count DESC 
LIMIT 1;

  country  port_count
0      US         583

# Question 3

Q3/ You receive a distress call from the middle of the North Atlantic Ocean. The person on the line gave you
a coordinates of lat: 32.610982, long: -38.706256 and asked for the nearest port with
provisions, water, fuel_oil and diesel. Your answer should include the columns
country, port_name, port_latitude and port_longitude only.

In [17]:
world_port_index_dframe.shape

(3669, 73)

In [18]:
question3_dframe = world_port_index_dframe.copy()
calculated_distance = []

question3_dframe.shape

(3669, 73)

In [21]:
given_coordinates_lat = 32.610982
given_coordinates_long = -38.706256

given_coordinates = given_coordinates_lat, given_coordinates_long

In [22]:
# Reusing question 1's for loop code
for index, row in question3_dframe.iterrows():
  country_location = float(row["port_latitude"]), float(row["port_longitude"])
  distance = haversine(country_location,given_coordinates, unit=Unit.METERS)
  calculated_distance.append(distance)

question3_dframe["distance_in_meters"] = calculated_distance

In [23]:
save_search_results = question3_dframe.loc[(question3_dframe["provisions"] == True) & (question3_dframe["water"] == True) & (question3_dframe["fuel_oil"] == True) & (question3_dframe["diesel"] == True), ["country","port_name","port_latitude","port_longitude"]]

In [24]:
save_search_results.head()

   country       port_name  port_latitude  port_longitude
16      US  PORT INGLESIDE      27.816667      -97.183333
18      US        PASADENA      29.716667      -95.216667
19      US      NORSWORTHY      29.733333      -95.200000
20      US           SINCO      29.716667      -95.233333
21      US         BAYTOWN      29.733333      -95.016667

In [25]:
save_search_results.shape

(1173, 4)